In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 500)
dataset = pd.read_csv("riiid-test-answer-prediction/train.csv")

In [2]:
dataset.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False

In [3]:
dataset.tail(100)

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
101230232,101230232,1262012556,2147482216,1195,0,207,0,1,13000.0,True
101230233,101230233,1262056337,2147482216,375,0,208,0,1,15000.0,True
101230234,101230234,1262083396,2147482216,211,0,209,0,1,19000.0,True
101230235,101230235,1262154833,2147482216,5711,0,210,2,0,18000.0,True
101230236,101230236,1262202756,2147482216,9058,0,211,2,1,21000.0,True
101230237,101230237,1262275724,2147482216,3756,0,212,3,0,19000.0,True
101230238,101230238,1296653480,2147482216,4473,0,213,2,0,40000.0,True
101230239,101230239,1296694380,2147482216,5583,0,214,2,1,28000.0,True
101230240,101230240,1296765032,2147482216,8898,0,215,3,1,25000.0,True
101230241,101230241,1296872450,2147482216,4039,0,216,0,0,14000.0,True
101230242,101230242,1296909034,2147482216,4056,0,217,0,1,43000.0,True
101230243,101230243,1296964817,2147482216,3878,0,218,2,0,17000.0,True
101230244,101230244,1297013469,2147482216,9866,0,219,2,0,35000.0,True
101230245,101230245,1308982346,2147482216,1166,0,220,0,1,23000.0,True
101230246,101230246,1309013474,2147482216,992,0,221,1,1,18000.0,True
101230247,101230247,1309046131,2147482216,1146,0,222,0,0,15000.0,True
101230248,101230248,1309071656,2147482216,251,0,223,1,1,16000.0,True
101230249,101230249,1309092451,2147482216,1079,0,224,0,1,17000.0,True
101230250,101230250,1309120512,2147482216,1257,0,225,1,1,14000.0,True
101230251,101230251,1309155093,2147482216,1027,0,226,0,1,18000.0,True
101230252,101230252,1309176251,2147482216,956,0,227,0,1,17000.0,True
101230253,101230253,1309198900,2147482216,1384,0,228,3,1,15000.0,True
101230254,101230254,1309220022,2147482216,673,0,229,3,1,17000.0,True
101230255,101230255,1341313305,2147482216,4442,0,230,0,0,15000.0,True
101230256,101230256,1341362063,2147482216,5657,0,231,0,1,23000.0,True
101230257,101230257,1341391330,2147482216,4476,0,232,2,0,32000.0,True
101230258,101230258,1341448511,2147482216,9093,0,233,1,1,8000.0,True
101230259,101230259,1341490518,2147482216,5609,0,234,3,1,23000.0,True
101230260,101230260,1341523579,2147482216,3681,0,235,1,1,13000.0,True
101230261,101230261,1341587936,2147482216,4986,0,236,0,0,16000.0,True
101230262,101230262,1341651831,2147482216,8839,0,237,0,0,45000.0,True
101230263,101230263,1341707857,2147482216,3933,0,238,2,0,36000.0,True
101230264,101230264,1341737457,2147482216,5591,0,239,3,1,39000.0,True
101230265,101230265,1416460250,2147482216,5120,0,240,0,1,17000.0,True
101230266,101230266,1416510874,2147482216,9825,0,241,1,0,10000.0,True
101230267,101230267,1416570571,2147482216,4981,0,242,0,1,17000.0,True
101230268,101230268,1416649814,2147482216,4470,0,243,0,0,37000.0,True
101230269,101230269,1416701334,2147482216,6150,0,244,1,1,52000.0,True
101230270,101230270,1416743722,2147482216,8934,0,245,2,0,25000.0,True
101230271,101230271,1416795717,2147482216,5952,0,246,1,0,24000.0,True
101230272,101230272,1416839991,2147482216,4258,0,247,1,0,32000.0,True
101230273,101230273,1416901451,2147482216,3941,0,248,3,0,26000.0,True
101230274,101230274,1416936013,2147482216,9474,0,249,1,1,40000.0,True
101230275,101230275,1416976686,2147482216,401,0,250,3,1,15000.0,True
101230276,101230276,1417001197,2147482216,801,0,251,0,1,17000.0,True
101230277,101230277,1417020724,2147482216,1048,0,252,0,1,19000.0,True
101230278,101230278,1417043420,2147482216,703,0,253,3,0,15000.0,True
101230279,101230279,1417072186,2147482216,836,0,254,3,1,16000.0,True
101230280,101230280,1417100577,2147482216,1275,0,255,3,1,20000.0,True
101230281,101230281,1417126713,2147482216,774,0,256,0,1,21000.0,True
101230282,101230282,1417154834,2147482216,1290,0,257,3,1,17000.0,True
101230283,101230283,1417180855,2147482216,567,0,258,3,0,19000.0,True
101230284,101230284,1417202575,2147482216,655,0,259,0,1,19000.0,True
101230285,101230285,1470029002,2147482216,5214,0,260,1,0,16000.0,True
101230286,101230286,1470063364,2147482216,3717,0,261,1,1,13000.0,True
101230287,101230287,1470092175,2147482216,6273,0,262,1,1,17000.0,True
101230288,101230288,1470117994,2147482216,11514,0,263,1,0,17000.0,True
101230289,101230289,1470145219,2147482216,5245,0,264,2,1,15000.0,True
101230290,101230290,1470180101,2147482216,4472,0,265,3,1,16000.0,True
101230291,101230291,1470224826,2147482216,5166,0,266,3,0,19000.0,True
101230292,101230292,1470273624,2147482216,8364,0,267,2,0,28000.0,True
101230293,101230293,1470310923,2147482216,6018,0,268,1,1,33000.0,True
101230294,101230294,1470346056,2147482216,5597,0,269,3,1,28000.0,True
101230295,101230295,1470387077,2147482216,1303,0,270,1,1,24000.0,True
101230296,101230296,1470415569,2147482216,551,0,271,0,1,16000.0,True
101230297,101230297,1470438308,2147482216,1395,0,272,0,1,19000.0,True
101230298,101230298,1470459711,2147482216,750,0,273,1,1,15000.0,True
101230299,101230299,1470481136,2147482216,431,0,274,1,1,15000.0,True
101230300,101230300,1470504008,2147482216,1115,0,275,1,1,16000.0,True
101230301,101230301,1470528731,2147482216,1220,0,276,0,1,15000.0,True
101230302,101230302,1470551804,2147482216,869,0,277,0,1,18000.0,True
101230303,101230303,1470571968,2147482216,1177,0,278,3,1,16000.0,True
101230304,101230304,1470594073,2147482216,1399,0,279,1,1,14000.0,True
101230305,101230305,0,2147482888,6147,0,0,0,1,NaN,NaN
101230306,101230306,21320,2147482888,4792,0,1,0,1,15000.0,False
101230307,101230307,44458,2147482888,5738,0,2,2,1,18000.0,False
101230308,101230308,68053,2147482888,6102,0,3,1,0,21000.0,False
101230309,101230309,86736,2147482888,4748,0,4,0,1,21000.0,False
101230310,101230310,109739,2147482888,7956,0,5,0,1,16000.0,False
101230311,101230311,152682,2147482888,6435,0,6,0,0,20000.0,False
101230312,101230312,253883847,2147482888,9283,0,7,0,0,41000.0,False
101230313,101230313,253922264,2147482888,5613,0,8,2,0,41000.0,True
101230314,101230314,253977782,2147482888,5334,0,9,3,0,30000.0,True
101230315,101230315,254416434,2147482888,9767,0,10,1,1,18000.0,True
101230316,101230316,254461924,2147482888,4702,0,11,3,0,102000.0,True
101230317,101230317,254505467,2147482888,3642,0,12,1,0,33000.0,True
101230318,101230318,254538722,2147482888,6012,0,13,3,1,37000.0,True
101230319,101230319,254572066,2147482888,9788,0,14,2,0,26000.0,True
101230320,101230320,428190226,2147482888,4496,0,15,0,1,25000.0,True
101230321,101230321,428225923,2147482888,4425,0,16,1,0,26000.0,True
101230322,101230322,428415725,2147482888,5005,0,17,1,0,30000.0,True
101230323,101230323,428449609,2147482888,8711,0,18,2,0,9000.0,True
101230324,101230324,428466169,2147482888,5591,0,19,3,1,26000.0,True
101230325,101230325,428517313,2147482888,6128,0,20,1,1,11000.0,True
101230326,101230326,428542872,2147482888,6202,0,21,2,1,44000.0,True
101230327,101230327,428564420,2147482888,3586,0,22,0,1,18000.0,True
101230328,101230328,428585000,2147482888,6341,0,23,3,1,14000.0,True
101230329,101230329,428613475,2147482888,4212,0,24,3,1,14000.0,True
101230330,101230330,428649406,2147482888,6343,0,25,1,0,22000.0,True
101230331,101230331,428692118,2147482888,7995,0,26,3,1,29000.0,True

# ................................................................................................................................

## Selecting Only Questions from Dataset

# ...............................................................................................................................

In [24]:
user_question = dataset[dataset['content_type_id']==0]
user_question.shape

(99271300, 10)

In [6]:
user_question.isnull().sum()

row_id                                 0
timestamp                              0
user_id                                0
content_id                             0
content_type_id                        0
task_container_id                      0
user_answer                            0
answered_correctly                     0
prior_question_elapsed_time       392506
prior_question_had_explanation    392506
dtype: int64

In [7]:
user_question['user_id'].nunique()

393656

# ................................................................................................................................

## Selecting Time Steps for RNN

# ...............................................................................................................................

In [4]:
grouped_data = user_question.groupby('user_id').count()
grouped_data.head()

,row_id,timestamp,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
user_id,,,,,,,,,
115,46,46,46,46,46,46,46,45,45
124,30,30,30,30,30,30,30,29,29
2746,19,19,19,19,19,19,19,18,18
5382,125,125,125,125,125,125,125,124,124
8623,109,109,109,109,109,109,109,108,108

In [6]:
for i in range(10,32):
    print(i, grouped_data[grouped_data['row_id'] >= i].shape)

10 (391028, 9)
11 (390686, 9)
12 (389703, 9)
13 (382696, 9)
14 (374970, 9)
15 (370859, 9)
16 (368326, 9)
17 (365522, 9)
18 (348385, 9)
19 (343296, 9)
20 (337987, 9)
21 (332232, 9)
22 (324714, 9)
23 (321097, 9)
24 (318775, 9)
25 (317157, 9)
26 (315695, 9)
27 (313861, 9)
28 (303988, 9)
29 (300949, 9)
30 (297146, 9)
31 (234724, 9)

#### We will go ahead with 30 Time Steps

In [9]:
users = grouped_data[grouped_data['row_id'] >= 30].index
selected_user = user_question[user_question['user_id'].apply(lambda x: x in users)]
selected_user.shape

(97439225, 10)

# ................................................................................................................................

## Extracting Answered Correctly Column for each User

# ...............................................................................................................................

In [33]:
# TRY 1

x = []
y = []
for user in users:
    check = selected_user[selected_user["user_id"]==user]
    check = check[-30:]
    val = list(check["answered_correctly"].values)
    x.append(val[:-1])
    y.append(val[-1])

KeyboardInterrupt:

In [36]:
len(x)

9914

In [ ]:
# TRY 2

dataset = dataset.to_numpy()

dataset1 = dataset[::-1]
x = []
y = []
for user in users[5:6]:
    check = dataset[:,2]
    check = check[-30:]
    val = list(check["answered_correctly"].values)
    x.append(val[:-1])
    y.append(val[-1])

In [ ]:
# TRY 3

dataset = dataset[dataset['user_id'].apply(lambda x: x in users)]
dataset = dataset.iloc[::-1]
grouped_data = dataset.groupby('user_id')

x = []
y = []
for key,group in grouped_data:
    group = group.values[:30,7]
    group = group[::-1]
    x.append(group[:29])
    y.append(group[29])

In [ ]:
# Exporting Data into a file

import csv

file = open('x.csv', 'a+', newline ='')
with file:
    write = csv.writer(file) 
    write.writerows(x)

with open('y.csv', 'w') as filehandle:
    for listitem in y:
        filehandle.write('%s\n' % listitem)

# ................................................................................................................................

## Extracting Prior Question Had Explanation Column for each User

# ...............................................................................................................................

In [ ]:
dataset['prior_question_had_explanation'] = dataset['prior_question_had_explanation'].fillna(False)

def func(val):
    if val == False:
        return 0
    elif val == True:
        return 1

dataset['prior_question_had_explanation'] = dataset['prior_question_had_explanation'].apply(func)



dataset = dataset[dataset['user_id'].apply(lambda x: x in users)]
dataset = dataset.iloc[::-1]
grouped_data = dataset.groupby('user_id')

x = []
y = []
for key,group in grouped_data:
    print(key)
    group = group.values[:30,9]
    group = group[::-1]
    x.append(group[:29])
    y.append(group[29])

# ................................................................................................................................

## Extracting Part to which each question belong Column

# ...............................................................................................................................

In [1]:
import pandas as pd
import numpy as np
questions = pd.read_csv("riiid-test-answer-prediction/questions.csv")

In [2]:
questions.head()

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38

In [3]:
dict_ques = {}
for row in questions.iterrows():
    dict_ques[row[1][0]] = row[1][3]

In [4]:
dict_ques

{0: 1,
 1: 1,
 2: 1,
 3: 1,
 4: 1,
 5: 1,
 6: 1,
 7: 1,
 8: 1,
 9: 1,
 10: 1,
 11: 1,
 12: 1,
 13: 1,
 14: 1,
 15: 1,
 16: 1,
 17: 1,
 18: 1,
 19: 1,
 20: 1,
 21: 1,
 22: 1,
 23: 1,
 24: 1,
 25: 1,
 26: 1,
 27: 1,
 28: 1,
 29: 1,
 30: 1,
 31: 1,
 32: 1,
 33: 1,
 34: 1,
 35: 1,
 36: 1,
 37: 1,
 38: 1,
 39: 1,
 40: 1,
 41: 1,
 42: 1,
 43: 1,
 44: 1,
 45: 1,
 46: 1,
 47: 1,
 48: 1,
 49: 1,
 50: 1,
 51: 1,
 52: 1,
 53: 1,
 54: 1,
 55: 1,
 56: 1,
 57: 1,
 58: 1,
 59: 1,
 60: 1,
 61: 1,
 62: 1,
 63: 1,
 64: 1,
 65: 1,
 66: 1,
 67: 1,
 68: 1,
 69: 1,
 70: 1,
 71: 1,
 72: 1,
 73: 1,
 74: 1,
 75: 1,
 76: 1,
 77: 1,
 78: 1,
 79: 1,
 80: 1,
 81: 1,
 82: 1,
 83: 1,
 84: 1,
 85: 1,
 86: 1,
 87: 1,
 88: 1,
 89: 1,
 90: 1,
 91: 1,
 92: 1,
 93: 1,
 94: 1,
 95: 1,
 96: 1,
 97: 1,
 98: 1,
 99: 1,
 100: 1,
 101: 1,
 102: 1,
 103: 1,
 104: 1,
 105: 1,
 106: 1,
 107: 1,
 108: 1,
 109: 1,
 110: 1,
 111: 1,
 112: 1,
 113: 1,
 114: 1,
 115: 1,
 116: 1,
 117: 1,
 118: 1,
 119: 1,
 120: 1,
 121: 1,
 122: 1,
 123: 1,
 124: 1,
 125: 1,
 126: 1,
 127: 1,
 128: 1,
 129: 1,
 130: 1,
 131: 1,
 132: 1,
 133: 1,
 134: 1,
 135: 1,
 136: 1,
 137: 1,
 138: 1,
 139: 1,
 140: 1,
 141: 1,
 142: 1,
 143: 1,
 144: 1,
 145: 1,
 146: 1,
 147: 1,
 148: 1,
 149: 1,
 150: 1,
 151: 1,
 152: 1,
 153: 1,
 154: 1,
 155: 1,
 156: 1,
 157: 1,
 158: 1,
 159: 1,
 160: 1,
 161: 1,
 162: 1,
 163: 1,
 164: 1,
 165: 1,
 166: 1,
 167: 1,
 168: 1,
 169: 1,
 170: 1,
 171: 1,
 172: 1,
 173: 1,
 174: 1,
 175: 1,
 176: 1,
 177: 1,
 178: 1,
 179: 1,
 180: 1,
 181: 1,
 182: 1,
 183: 1,
 184: 1,
 185: 1,
 186: 1,
 187: 1,
 188: 1,
 189: 1,
 190: 1,
 191: 1,
 192: 1,
 193: 1,
 194: 1,
 195: 1,
 196: 2,
 197: 2,
 198: 2,
 199: 2,
 200: 2,
 201: 2,
 202: 2,
 203: 2,
 204: 2,
 205: 2,
 206: 2,
 207: 2,
 208: 2,
 209: 2,
 210: 2,
 211: 2,
 212: 2,
 213: 2,
 214: 2,
 215: 2,
 216: 2,
 217: 2,
 218: 2,
 219: 2,
 220: 2,
 221: 2,
 222: 2,
 223: 2,
 224: 2,
 225: 2,
 226: 2,
 227: 2,
 228: 2,
 229: 2,
 230: 2,
 231: 2,
 232: 2,
 233: 2,
 234: 2,
 235: 2,
 236: 2,
 237: 2,
 238: 2,
 239: 2,
 240: 2,
 241: 2,
 242: 2,
 243: 2,
 244: 2,
 245: 2,
 246: 2,
 247: 2,
 248: 2,
 249: 2,
 250: 2,
 251: 2,
 252: 2,
 253: 2,
 254: 2,
 255: 2,
 256: 2,
 257: 2,
 258: 2,
 259: 2,
 260: 2,
 261: 2,
 262: 2,
 263: 2,
 264: 2,
 265: 2,
 266: 2,
 267: 2,
 268: 2,
 269: 2,
 270: 2,
 271: 2,
 272: 2,
 273: 2,
 274: 2,
 275: 2,
 276: 2,
 277: 2,
 278: 2,
 279: 2,
 280: 2,
 281: 2,
 282: 2,
 283: 2,
 284: 2,
 285: 2,
 286: 2,
 287: 2,
 288: 2,
 289: 2,
 290: 2,
 291: 2,
 292: 2,
 293: 2,
 294: 2,
 295: 2,
 296: 2,
 297: 2,
 298: 2,
 299: 2,
 300: 2,
 301: 2,
 302: 2,
 303: 2,
 304: 2,
 305: 2,
 306: 2,
 307: 2,
 308: 2,
 309: 2,
 310: 2,
 311: 2,
 312: 2,
 313: 2,
 314: 2,
 315: 2,
 316: 2,
 317: 2,
 318: 2,
 319: 2,
 320: 2,
 321: 2,
 322: 2,
 323: 2,
 324: 2,
 325: 2,
 326: 2,
 327: 2,
 328: 2,
 329: 2,
 330: 2,
 331: 2,
 332: 2,
 333: 2,
 334: 2,
 335: 2,
 336: 2,
 337: 2,
 338: 2,
 339: 2,
 340: 2,
 341: 2,
 342: 2,
 343: 2,
 344: 2,
 345: 2,
 346: 2,
 347: 2,
 348: 2,
 349: 2,
 350: 2,
 351: 2,
 352: 2,
 353: 2,
 354: 2,
 355: 2,
 356: 2,
 357: 2,
 358: 2,
 359: 2,
 360: 2,
 361: 2,
 362: 2,
 363: 2,
 364: 2,
 365: 2,
 366: 2,
 367: 2,
 368: 2,
 369: 2,
 370: 2,
 371: 2,
 372: 2,
 373: 2,
 374: 2,
 375: 2,
 376: 2,
 377: 2,
 378: 2,
 379: 2,
 380: 2,
 381: 2,
 382: 2,
 383: 2,
 384: 2,
 385: 2,
 386: 2,
 387: 2,
 388: 2,
 389: 2,
 390: 2,
 391: 2,
 392: 2,
 393: 2,
 394: 2,
 395: 2,
 396: 2,
 397: 2,
 398: 2,
 399: 2,
 400: 2,
 401: 2,
 402: 2,
 403: 2,
 404: 2,
 405: 2,
 406: 2,
 407: 2,
 408: 2,
 409: 2,
 410: 2,
 411: 2,
 412: 2,
 413: 2,
 414: 2,
 415: 2,
 416: 2,
 417: 2,
 418: 2,
 419: 2,
 420: 2,
 421: 2,
 422: 2,
 423: 2,
 424: 2,
 425: 2,
 426: 2,
 427: 2,
 428: 2,
 429: 2,
 430: 2,
 431: 2,
 432: 2,
 433: 2,
 434: 2,
 435: 2,
 436: 2,
 437: 2,
 438: 2,
 439: 2,
 440: 2,
 441: 2,
 442: 2,
 443: 2,
 444: 2,
 445: 2,
 446: 2,
 447: 2,
 448: 2,
 449: 2,
 450: 2,
 451: 2,
 452: 2,
 453: 2,
 454: 2,
 455: 2,
 456: 2,
 457: 2,
 458: 2,
 459: 2,
 460: 2,
 461: 2,
 462: 2,
 463: 2,
 464: 2,
 465: 2,
 466: 2,
 467: 2,
 468: 2,
 469: 2,
 470: 2,
 471: 2,
 472: 2,
 473: 2,
 474: 2,
 475: 2,
 476: 2,
 477: 2,
 478: 2,
 479: 2,
 480: 2,
 481: 2,
 482: 2,
 483: 2,
 484: 2,
 485: 2,
 486: 2,
 487: 2,
 488: 2,
 489: 2,
 490: 2,
 491: 2,
 492: 2,
 493: 2,
 494: 2,
 495: 2,
 496: 2,
 497: 2,
 498: 2,
 499: 2,
 500: 2,
 501: 2,
 502: 2,
 503: 2,
 504: 2,
 505: 2,
 506: 2,
 507: 2,
 508: 2,
 509: 2,
 510: 2,
 511: 2,
 512: 2,
 513: 2,
 514: 2,
 515: 2,
 516: 2,
 517: 2,
 518: 2,
 519: 2,
 520: 2,
 521: 2,
 522: 2,
 523: 2,
 524: 2,
 525: 2,
 526: 2,
 527: 2,
 528: 2,
 529: 2,
 530: 2,
 531: 2,
 532: 2,
 533: 2,
 534: 2,
 535: 2,
 536: 2,
 537: 2,
 538: 2,
 539: 2,
 540: 2,
 541: 2,
 542: 2,
 543: 2,
 544: 2,
 545: 2,
 546: 2,
 547: 2,
 548: 2,
 549: 2,
 550: 2,
 551: 2,
 552: 2,
 553: 2,
 554: 2,
 555: 2,
 556: 2,
 557: 2,
 558: 2,
 559: 2,
 560: 2,
 561: 2,
 562: 2,
 563: 2,
 564: 2,
 565: 2,
 566: 2,
 567: 2,
 568: 2,
 569: 2,
 570: 2,
 571: 2,
 572: 2,
 573: 2,
 574: 2,
 575: 2,
 576: 2,
 577: 2,
 578: 2,
 579: 2,
 580: 2,
 581: 2,
 582: 2,
 583: 2,
 584: 2,
 585: 2,
 586: 2,
 587: 2,
 588: 2,
 589: 2,
 590: 2,
 591: 2,
 592: 2,
 593: 2,
 594: 2,
 595: 2,
 596: 2,
 597: 2,
 598: 2,
 599: 2,
 600: 2,
 601: 2,
 602: 2,
 603: 2,
 604: 2,
 605: 2,
 606: 2,
 607: 2,
 608: 2,
 609: 2,
 610: 2,
 611: 2,
 612: 2,
 613: 2,
 614: 2,
 615: 2,
 616: 2,
 617: 2,
 618: 2,
 619: 2,
 620: 2,
 621: 2,
 622: 2,
 623: 2,
 624: 2,
 625: 2,
 626: 2,
 627: 2,
 628: 2,
 629: 2,
 630: 2,
 631: 2,
 632: 2,
 633: 2,
 634: 2,
 635: 2,
 636: 2,
 637: 2,
 638: 2,
 639: 2,
 640: 2,
 641: 2,
 642: 2,
 643: 2,
 644: 2,
 645: 2,
 646: 2,
 647: 2,
 648: 2,
 649: 2,
 650: 2,
 651: 2,
 652: 2,
 653: 2,
 654: 2,
 655: 2,
 656: 2,
 657: 2,
 658: 2,
 659: 2,
 660: 2,
 661: 2,
 662: 2,
 663: 2,
 664: 2,
 665: 2,
 666: 2,
 667: 2,
 668: 2,
 669: 2,
 670: 2,
 671: 2,
 672: 2,
 673: 2,
 674: 2,
 675: 2,
 676: 2,
 677: 2,
 678: 2,
 679: 2,
 680: 2,
 681: 2,
 682: 2,
 683: 2,
 684: 2,
 685: 2,
 686: 2,
 687: 2,
 688: 2,
 689: 2,
 690: 2,
 691: 2,
 692: 2,
 693: 2,
 694: 2,
 695: 2,
 696: 2,
 697: 2,
 698: 2,
 699: 2,
 700: 2,
 701: 2,
 702: 2,
 703: 2,
 704: 2,
 705: 2,
 706: 2,
 707: 2,
 708: 2,
 709: 2,
 710: 2,
 711: 2,
 712: 2,
 713: 2,
 714: 2,
 715: 2,
 716: 2,
 717: 2,
 718: 2,
 719: 2,
 720: 2,
 721: 2,
 722: 2,
 723: 2,
 724: 2,
 725: 2,
 726: 2,
 727: 2,
 728: 2,
 729: 2,
 730: 2,
 731: 2,
 732: 2,
 733: 2,
 734: 2,
 735: 2,
 736: 2,
 737: 2,
 738: 2,
 739: 2,
 740: 2,
 741: 2,
 742: 2,
 743: 2,
 744: 2,
 745: 2,
 746: 2,
 747: 2,
 748: 2,
 749: 2,
 750: 2,
 751: 2,
 752: 2,
 753: 2,
 754: 2,
 755: 2,
 756: 2,
 757: 2,
 758: 2,
 759: 2,
 760: 2,
 761: 2,
 762: 2,
 763: 2,
 764: 2,
 765: 2,
 766: 2,
 767: 2,
 768: 2,
 769: 2,
 770: 2,
 771: 2,
 772: 2,
 773: 2,
 774: 2,
 775: 2,
 776: 2,
 777: 2,
 778: 2,
 779: 2,
 780: 2,
 781: 2,
 782: 2,
 783: 2,
 784: 2,
 785: 2,
 786: 2,
 787: 2,
 788: 2,
 789: 2,
 790: 2,
 791: 2,
 792: 2,
 793: 2,
 794: 2,
 795: 2,
 796: 2,
 797: 2,
 798: 2,
 799: 2,
 800: 2,
 801: 2,
 802: 2,
 803: 2,
 804: 2,
 805: 2,
 806: 2,
 807: 2,
 808: 2,
 809: 2,
 810: 2,
 811: 2,
 812: 2,
 813: 2,
 814: 2,
 815: 2,
 816: 2,
 817: 2,
 818: 2,
 819: 2,
 820: 2,
 821: 2,
 822: 2,
 823: 2,
 824: 2,
 825: 2,
 826: 2,
 827: 2,
 828: 2,
 829: 2,
 830: 2,
 831: 2,
 832: 2,
 833: 2,
 834: 2,
 835: 2,
 836: 2,
 837: 2,
 838: 2,
 839: 2,
 840: 2,
 841: 2,
 842: 2,
 843: 2,
 844: 2,
 845: 2,
 846: 2,
 847: 2,
 848: 2,
 849: 2,
 850: 2,
 851: 2,
 852: 2,
 853: 2,
 854: 2,
 855: 2,
 856: 2,
 857: 2,
 858: 2,
 859: 2,
 860: 2,
 861: 2,
 862: 2,
 863: 2,
 864: 2,
 865: 2,
 866: 2,
 867: 2,
 868: 2,
 869: 2,
 870: 2,
 871: 2,
 872: 2,
 873: 2,
 874: 2,
 875: 2,
 876: 2,
 877: 2,
 878: 2,
 879: 2,
 880: 2,
 881: 2,
 882: 2,
 883: 2,
 884: 2,
 885: 2,
 886: 2,
 887: 2,
 888: 2,
 889: 2,
 890: 2,
 891: 2,
 892: 2,
 893: 2,
 894: 2,
 895: 2,
 896: 2,
 897: 2,
 898: 2,
 899: 2,
 900: 2,
 901: 2,
 902: 2,
 903: 2,
 904: 2,
 905: 2,
 906: 2,
 907: 2,
 908: 2,
 909: 2,
 910: 2,
 911: 2,
 912: 2,
 913: 2,
 914: 2,
 915: 2,
 916: 2,
 917: 2,
 918: 2,
 919: 2,
 920: 2,
 921: 2,
 922: 2,
 923: 2,
 924: 2,
 925: 2,
 926: 2,
 927: 2,
 928: 2,
 929: 2,
 930: 2,
 931: 2,
 932: 2,
 933: 2,
 934: 2,
 935: 2,
 936: 2,
 937: 2,
 938: 2,
 939: 2,
 940: 2,
 941: 2,
 942: 2,
 943: 2,
 944: 2,
 945: 2,
 946: 2,
 947: 2,
 948: 2,
 949: 2,
 950: 2,
 951: 2,
 952: 2,
 953: 2,
 954: 2,
 955: 2,
 956: 2,
 957: 2,
 958: 2,
 959: 2,
 960: 2,
 961: 2,
 962: 2,
 963: 2,
 964: 2,
 965: 2,
 966: 2,
 967: 2,
 968: 2,
 969: 2,
 970: 2,
 971: 2,
 972: 2,
 973: 2,
 974: 2,
 975: 2,
 976: 2,
 977: 2,
 978: 2,
 979: 2,
 980: 2,
 981: 2,
 982: 2,
 983: 2,
 984: 2,
 985: 2,
 986: 2,
 987: 2,
 988: 2,
 989: 2,
 990: 2,
 991: 2,
 992: 2,
 993: 2,
 994: 2,
 995: 2,
 996: 2,
 997: 2,
 998: 2,
 999: 2,
 ...}

In [5]:
dataset = pd.read_csv("riiid-test-answer-prediction/train.csv")

dataset = dataset[dataset['content_type_id']==0]

In [6]:
def func(var):
    return dict_ques[var]

dataset['part'] = dataset['content_id'].apply(func)

In [7]:
dataset.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,part
0,0,0,115,5692,0,1,3,1,NaN,NaN,5
1,1,56943,115,5716,0,2,2,1,37000.0,False,5
2,2,118363,115,128,0,0,0,1,55000.0,False,1
3,3,131167,115,7860,0,3,0,1,19000.0,False,1
4,4,137965,115,7922,0,4,1,1,11000.0,False,1

In [8]:
dataset['part'].value_counts()

5    40908153
2    18743404
6    10501472
3     8639907
4     8067676
1     7454570
7     4956118
Name: part, dtype: int64

In [9]:
grouped_data = dataset.groupby('user_id').count()
users = grouped_data[grouped_data['row_id'] >= 30].index

In [10]:
data = dataset[['row_id','timestamp','user_id','part']].values
data[0]

array([  0,   0, 115,   5], dtype=int64)

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer([('encoder', OneHotEncoder(), [3])], remainder='passthrough')
data_new = np.array(ct.fit_transform(data), dtype=np.float)
data_new[0]

array([  0.,   0.,   0.,   0.,   1.,   0.,   0.,   0.,   0., 115.])

In [12]:
data_new = data_new[:,1:]
data_new[0]

array([  0.,   0.,   0.,   1.,   0.,   0.,   0.,   0., 115.])

In [13]:
dataset = pd.DataFrame(data_new, columns = ['x1','x2','x3','x4','x5','x6','row_id','timestamp','user_id'])
dataset.head(60)

     x1   x2   x3   x4   x5   x6  row_id    timestamp  user_id
0   0.0  0.0  0.0  1.0  0.0  0.0     0.0          0.0    115.0
1   0.0  0.0  0.0  1.0  0.0  0.0     1.0      56943.0    115.0
2   0.0  0.0  0.0  0.0  0.0  0.0     2.0     118363.0    115.0
3   0.0  0.0  0.0  0.0  0.0  0.0     3.0     131167.0    115.0
4   0.0  0.0  0.0  0.0  0.0  0.0     4.0     137965.0    115.0
5   0.0  0.0  0.0  0.0  0.0  0.0     5.0     157063.0    115.0
6   0.0  0.0  0.0  0.0  0.0  0.0     6.0     176092.0    115.0
7   0.0  0.0  0.0  0.0  0.0  0.0     7.0     194190.0    115.0
8   0.0  0.0  0.0  0.0  0.0  0.0     8.0     212463.0    115.0
9   0.0  0.0  0.0  0.0  0.0  0.0     9.0     230983.0    115.0
10  0.0  0.0  0.0  0.0  0.0  0.0    10.0     255381.0    115.0
11  0.0  0.0  0.0  0.0  0.0  0.0    11.0     280033.0    115.0
12  0.0  0.0  0.0  0.0  0.0  0.0    12.0     302994.0    115.0
13  0.0  0.0  0.0  0.0  0.0  0.0    13.0     328686.0    115.0
14  0.0  0.0  0.0  0.0  0.0  0.0    14.0     352686.0    115.0
15  0.0  0.0  0.0  0.0  0.0  0.0    15.0     376162.0    115.0
16  0.0  0.0  0.0  0.0  0.0  0.0    16.0     398020.0    115.0
17  0.0  0.0  0.0  0.0  0.0  0.0    17.0     418008.0    115.0
18  0.0  0.0  0.0  0.0  0.0  0.0    18.0     437272.0    115.0
19  0.0  0.0  0.0  0.0  0.0  0.0    19.0     468511.0    115.0
20  0.0  0.0  0.0  0.0  0.0  0.0    20.0     490100.0    115.0
21  0.0  0.0  0.0  0.0  0.0  0.0    21.0     510583.0    115.0
22  0.0  0.0  0.0  0.0  0.0  0.0    22.0     534187.0    115.0
23  0.0  0.0  0.0  0.0  0.0  0.0    23.0     557677.0    115.0
24  0.0  0.0  0.0  0.0  0.0  0.0    24.0     575289.0    115.0
25  0.0  0.0  0.0  0.0  0.0  0.0    25.0     597863.0    115.0
26  0.0  0.0  0.0  0.0  0.0  0.0    26.0     621464.0    115.0
27  0.0  0.0  0.0  0.0  0.0  0.0    27.0     645415.0    115.0
28  0.0  0.0  0.0  0.0  0.0  0.0    28.0     670520.0    115.0
29  0.0  0.0  0.0  0.0  0.0  0.0    29.0     692971.0    115.0
30  0.0  0.0  0.0  0.0  0.0  0.0    30.0     710402.0    115.0
31  0.0  0.0  0.0  0.0  0.0  0.0    31.0     732421.0    115.0
32  0.0  0.0  0.0  0.0  0.0  0.0    32.0    1219624.0    115.0
33  0.0  0.0  0.0  0.0  0.0  0.0    33.0    1252621.0    115.0
34  0.0  0.0  0.0  0.0  0.0  0.0    34.0    1284094.0    115.0
35  0.0  0.0  0.0  0.0  0.0  0.0    35.0    1320874.0    115.0
36  0.0  0.0  0.0  0.0  0.0  0.0    36.0    1359412.0    115.0
37  0.0  0.0  0.0  0.0  0.0  0.0    37.0    1415188.0    115.0
38  0.0  0.0  0.0  0.0  0.0  0.0    38.0    1468285.0    115.0
39  1.0  0.0  0.0  0.0  0.0  0.0    39.0  667861680.0    115.0
40  0.0  1.0  0.0  0.0  0.0  0.0    40.0  667971812.0    115.0
41  0.0  1.0  0.0  0.0  0.0  0.0    41.0  667971812.0    115.0
42  0.0  1.0  0.0  0.0  0.0  0.0    42.0  667971812.0    115.0
43  0.0  0.0  1.0  0.0  0.0  0.0    43.0  668090043.0    115.0
44  0.0  0.0  1.0  0.0  0.0  0.0    44.0  668090043.0    115.0
45  0.0  0.0  1.0  0.0  0.0  0.0    45.0  668090043.0    115.0
46  0.0  0.0  0.0  0.0  0.0  0.0    46.0          0.0    124.0
47  0.0  0.0  0.0  0.0  0.0  0.0    47.0      32683.0    124.0
48  0.0  0.0  0.0  0.0  0.0  0.0    48.0      62000.0    124.0
49  1.0  0.0  0.0  0.0  0.0  0.0    49.0      83632.0    124.0
50  0.0  1.0  0.0  0.0  0.0  0.0    50.0     189483.0    124.0
51  0.0  1.0  0.0  0.0  0.0  0.0    51.0     189483.0    124.0
52  0.0  1.0  0.0  0.0  0.0  0.0    52.0     189483.0    124.0
53  0.0  0.0  1.0  0.0  0.0  0.0    53.0     258793.0    124.0
54  0.0  0.0  1.0  0.0  0.0  0.0    54.0     258793.0    124.0
55  0.0  0.0  1.0  0.0  0.0  0.0    55.0     258793.0    124.0
56  0.0  0.0  1.0  0.0  0.0  0.0    56.0     330528.0    124.0
57  0.0  0.0  1.0  0.0  0.0  0.0    57.0     330528.0    124.0
58  0.0  0.0  1.0  0.0  0.0  0.0    58.0     330528.0    124.0
59  0.0  0.0  1.0  0.0  0.0  0.0    59.0     382790.0    124.0

In [14]:
dataset = dataset[dataset['user_id'].apply(lambda x: x in users)]
dataset = dataset.iloc[::-1]

In [15]:
grouped_data = dataset.groupby('user_id')

x = []
y = []
for key,group in grouped_data:
    group = group.values[:30,:6]
    group = group[::-1]
    x.append(group[:29])
    y.append(group[29])

In [16]:
x[:5]

[array([[0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.]]),
 array([[0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.]]),
 array([[0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.]]),
 array([[0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0., 0.]]),
 array([[0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.]])]

In [18]:
new_x = np.array(x)
new_x.shape

(297146, 29, 6)

In [19]:
try_x = new_x.reshape(297146, 174)
np.savetxt("x_part.txt", try_x)